@model iTechArt.Shook.DomainModel.Models.ViewModel.UserViewModel

<h2>Create user</h2>
<form method="post" asp-action="Create" asp-controller="User">
    <hr />
    <div class="form-group">
        <label asp-for="Name"></label>
        <div>
            <input asp-for="Name" />
            <span></span>
        </div>
    </div>
    <div class="form-group">
        <div>
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>
</form>
