@model System.Collections.Generic.IReadOnlyCollection<iTechArt.Shook.DomainModel.Models.User>

@if (Model.Count > 0)
{
    @foreach (var user in Model)
    {
        <p>@user.Name</p>
    }
}
else
{
    <p>No users created yet</p>
}
