@model iTechArt.Shook.WebApp.ViewModels.DisplayUsersViewModel
@inject Microsoft.AspNetCore.Identity.SignInManager<iTechArt.Shook.DomainModel.Models.User> signInManager

<div class="container text-center p-2">
    <h2>Here is a list of registered names in project</h2>
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        @if (Model.UserViewModel.Count > 0)
        {
            @foreach (var userVM in Model.UserViewModel)
            {
                <tr>
                    <td>@userVM.User.UserName</td>
                    <td>
                        @for (int i = 0; i < userVM.Roles.Count(); i++)
                        {
                            @if (i == (userVM.Roles.Count() - 1))
                            {
                                @userVM.Roles[i]
                            }
                            else
                            {
                                @userVM.Roles[i]
                                <text> | </text>
                            }
                        }
                    </td>
                    <td>
                        @if (await signInManager.UserManager.IsInRoleAsync(
                            await signInManager.UserManager.GetUserAsync(User),
                            @iTechArt.Shook.DomainModel.RoleNames.Admin))
                        {
                            <a>Remove</a>
                            <text> | </text>
                            <a>Update</a>
                            <text> | </text>
                        }
                        <a>Details</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>No users created yet.</td>
            </tr>
        }
    </table>
</div>