@model iTechArt.Shook.DomainModel.Models.Clicker
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link  rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css"  />
    <title>Click-Clack</title>
</head>
<body style="background-color:olivedrab">
    <div class="text-center">
        <font style="font-size:100pt" color="rgb(50,153,50)">@Model.ClickerCounter</font>
        
        <form method="post">
            <button  style="background-color:darkorange" asp-controller="Home" asp-action="IncreaseClicker" type="submit" class="btn btn-lg">
                <font style="font-size:100pt" color="rgb(50,153,50)">Click me</font>
            </button>
        </form>
    </div>
</body>
</html>
