@model iTechArt.Shook.WebApp.ViewModels.SurveyViewModel

<form class="needs-validation" method="post" asp-controller="Survey" asp-action="Edit">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="Id" hidden />

    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Delete User?</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="form-group row ml-2">
                    <div class="col-2">
                        <label asp-for="Title"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Title" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-danger w-75" value="Edit" />
                        </div>
                        <div class="col">
                            <a asp-controller="Survey" asp-action="Index" class="btn btn-success w-75">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>