<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create user</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>