<ul class="nav">
    <li>
        <a class="nav-link text-white" id="registerLink" asp-controller="Home" asp-action="Create">Create</a>
    </li>
    <li>
        <a class="nav-link text-white" id="loginLink" asp-controller="Home" asp-action="Login">Sign In</a>
    </li>
</ul>