@using iTechArt.Shook.WebApp.ViewModels
@model iTechArt.Shook.WebApp.ViewModels.SurveyViewModel


<div class="form-row">
    <div class="form-group col-md-6">
        <label for="surveyTitle">Title</label>
        <input type="text" asp-for="Title" id="surveyTitle" class="form-control" placeholder="Survey title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    
    <div class="row questionsContainer">
    </div>
</div>
    
<template id="template">
        @await Html.PartialAsync("_Question", new SurveyViewModel()) 
</template>

